
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    
    color: white;
    text-align: center;
    padding: 20px;
}
h1 {
    font-size: 30px;
            margin: 26px;
            
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 10px;
}
p {
    font-size: 20px;
    padding-left: 100px;
    padding-right: 100px; 
}

.navbar {
    font-size: 30px;
    margin: 0; 
    background-color: #283747;
    color: white; 
    padding: 10px 0;
    text-align: center;
}
#btnScrollToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    padding: 10px;
    background-color: #34495E;
    color: white;
    border: none;
    border-radius: 0; 
    cursor: pointer;
  }
  html {
    scroll-behavior: smooth;
}
 /* Estilo para el botón de regreso */
 .boton-regresar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000; /* Color de fondo */
    color: #fff; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border: none; /* Sin borde */
    border-radius: 4px; /* Esquinas redondeadas */
}

/* Cambia el color del botón cuando el mouse está encima */
.boton-regresar:hover {
    background-color: #34495E; /* Color de fondo en hover */
}
a {
    color: #000; /* Cambia el color del texto del enlace a negro */
    text-decoration: none; /* Quita la subrayado predeterminado */
}

/* Estilo para los enlaces cuando se encuentren en estado "hover" (al pasar el mouse) */
a:hover {
    text-decoration: underline; /* Agrega subrayado al pasar el mouse */
}
table {
    border-collapse: collapse;
    width: calc(100% - 200px); /* 100px en cada lado */
    margin: 0 100px; /* 100px en cada lado */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}